@import "bootstrap/scss/bootstrap";
@import "rails_bootstrap_forms";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(245,248,250);
}

.evento {
  background: rgb(230,236,240);
  border-radius: 5%;
  border: 4px solid grey;
}

.bgblu {
  background:rgb(245,248,250);
  border:2px solid grey;
}

.profile-container {
  width :150px;
  height :150px;
}

.df {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
 }
